* {
	box-sizing: border-box;
	/*box-shadow: 0 0 0 1px red;*/
}
/*sr-only*/
.visually-hidden {
  position: absolute;
  width: 1px; 
  height: 1px; 
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.tovar {
  border-bottom: 4px solid green !important;
}

body {
  margin-top: 82px; 
}

.carousel-inner img {
  height: 300px;  
  object-fit: cover;
}

.feedback {
  background-image: url("https://picsum.photos/id/932/1000/500");
  background-repeat: no-repeat;
  background-size: cover;
}